.el-message {
  width: 300px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
}

// 不能在active时设置，因为上一个message消失时，造成当前message的top变化后，此时
// 当前的message的visible没有变化，不存在el-message-fade-enter-active和
// el-message-fade-leave-active，不存在过渡效果，会导致此时message移动时出现
// 闪现抖动效果
// .el-message-fade-enter-active,
// .el-message-fade-leave-active {
//   transition: opacity 0.3s, transform 0.4s, top 0.4s;
// }

.el-message-fade-enter-from,
.el-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}